<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="verticleBeans" class="net.devaction.mylocationcore.main.VerticleBeans">
        <property name="locationDataServerVerticle" ref="locationDataServerVerticle"/>
        <property name="webServerVerticle" ref="webServerVerticle"/>
        <property name="lastKnownLocationVerticle" ref="lastKnownLocationVerticle"/>
    </bean>    
    
    <bean id="locationDataServerVerticle" 
            class="net.devaction.mylocationcore.serverforandroid.LocationDataServerVerticle">
        <property name="confValueProvider" ref="confValueProvider"/>
        <property name="handler" ref="locationDataWebApiHandler"/>
        <property name="decryptedValueProvider" ref="decryptedValueProvider"/>   
    </bean>
    
    <bean id="locationDataWebApiHandler" class="net.devaction.mylocationcore.serverforandroid.LocationDataWebApiHandler">
        <property name="vertxProvider" ref="vertxProvider"/>
        <property name="processor" ref="processor"/>
        <property name="resultHandler" ref="resultHandler"/>
    </bean>
    
    <bean id="processor" class="net.devaction.mylocationcore.processors.LocationDataProcessor">
        <property name="vertxProvider" ref="vertxProvider"/>
        <property name="confValueProvider" ref="confValueProvider"/>
    </bean>
    
    <bean id="resultHandler" class="net.devaction.mylocationcore.processors.LocationDataResultHandler"/>
    
    <bean id="vertxProvider" class="net.devaction.mylocationcore.di.VertxProviderImpl"/>
    
    <bean id="webServerVerticle" class="net.devaction.mylocationcore.serverforwebbrowser.WebServerVerticle">
        <property name="confValueProvider" ref="confValueProvider"/>
        <property name="decryptedValueProvider" ref="decryptedValueProvider"/>        
    </bean>

    <bean id="lastKnownLocationVerticle" class="net.devaction.mylocationcore.lastkownlocationverticleforfrontend.LastKnownLocationVerticle">
        <property name="confValueProvider" ref="confValueProvider"/>
    </bean>
        
    <bean id="decryptedValueProvider" class="net.devaction.mylocationcore.util.DecryptedValueProvider">
        <property name="confValueProvider" ref="confValueProvider"/>   
    </bean>  
    
    <bean id="confValueProvider" class="net.devaction.mylocationcore.di.ConfValueProviderImpl"/>
</beans>

